HeaderFilterRegex: "include/func_sketch/|tests/"
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
    -clang-analyzer-core.UndefinedBinaryOperatorResult,
    -clang-analyzer-optin.performance.Padding,
  google-*,
    -google-runtime-references,
    -google-readability-todo,
  performance-*,
  portability-*,
  readability-*,
    readability-identifier-naming,
    -readability-function-cognitive-complexity,
    -readability-suspicious-call-argument,
    -readability-math-missing-parentheses,
    -readability-qualified-auto,
    -readability-magic-numbers,
  modernize-*,
    -modernize-return-braced-init-list,
    -modernize-use-auto,
    -modernize-use-trailing-return-type,
  hicpp-*,
    -hicpp-use-auto,
  cert-*,
    -cert-err58-cpp,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-optional-value-conversion,
    -bugprone-misplaced-widening-cast,
    -bugprone-suspicious-include,
  concurrency-*,
  boost-*,

# Ignored checks:
#
# - google-runtime-references is a Google-specific rule, and forces use of raw pointers.
# - clang-analyzer-core.UndefinedBinaryOperatorResult cause warnings for Eigen.
# - clang-analyzer-optin.performance.Padding is hard to be fixed.
# - readability-function-cognitive-complexity is hard to be fixed in tests.
# - bugprone-easily-swappable-parameters, readability-suspicious-call-argument is difficult to fix.
# - cert-err58-cpp produces warnings in all tests due to Catch2 library.
# - bugprone-optional-value-conversion has a bug to generate warnings even when checks of existence of values exist.
# - readability-math-missing-parentheses generates too many warnings in existing codes.
# - hicpp-use-auto, modernize-use-auto should not be fixed in source codes using Eigen library.
# - bugprone-misplaced-widening-cast generates false positives.
# - bugprone-suspicious-include generates warnings in unity builds.
# - readability-qualified-auto make source codes less changeable.
# - modernize-use-trailing-return-type reduces readability.
# - readability-magic-numbers generates too many warnings in test codes.

CheckOptions:
  # Naming Conventions
  # for these parameters of the naming convention,
  # see https://clang.llvm.org/extra/clang-tidy/checks/readability/identifier-naming.html
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _

  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.ConceptCase
    value: CamelCase

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  # Workaround of https://github.com/llvm/llvm-project/issues/46097.
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: expr-type

  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none
